@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
    background-color: rgb(0, 0, 0);
    font-family: "Goldman", sans-serif;
}

h1 {
    color: rgb(173, 165, 165);
    text-align: center;
}

p {
    color: rgb(173, 165, 165);
    font-size: x-large;
    text-align: center;
    font-style: url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
}    

#homeimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    color: aliceblue;
    background-color: darkgray;
}

li {
    justify-content: center;
    display: inline;
    font-size: x-large;
    margin: 10px;
}

li a:hover{
    background-color: aliceblue;
}

.topnav a {
    float: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
